* {
    box-sizing: border-box;
    
}

body {
    /* background: linear-gradient(to bottom right, red, purple);  */
    background-color: #0b3142;
    background-image: url('./vacay.png'); 
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 3px black;
}

header {
    text-align: center;
    text-transform: uppercase;
    /* background-color: hsla(300, 75%, 25%, 0.6); */
    border: thick double rgba(224, 185, 114, 0.479);
    border-radius: 6px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445); */
    width: 40%;
    margin: 20px auto;
    font-size: 150%;
    
    
}

p {
    text-align: center;
}

span {
    font-style: italic;
    /* font-weight: bold; */
    margin-right: 1px;
    color: rgb(240, 215, 170);
}

label {
    width: 30%;
    display: inline-block;
    text-align: right;
    
}
input {
    width: 39%;
    display: inline-block;
    margin: 10px auto;
    border-radius: 5px;
    border: double rgba(224, 185, 114, 0.479);
    background-color: rgba(245, 236, 220, 0.534);
    
}

.break {
    width: 20%;
    display: inline-block;
}

#submit-button {
    width: 100px;
    display: block;
    margin: 10px auto;
    margin-bottom: 30px;
    background-color: rgb(245, 222, 179);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 #submit-button:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.692)
    
 }

 #reset-button {
    width: 100px;
    display: block;
    margin: 30px auto;
    /* margin-bottom: 30px; */
    background-color: rgb(245, 222, 179);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 #reset-button:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.692)
    
 }


#story {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    display: block;
    text-align: center;
    background-color: rgba(82, 62, 36, 0.308);
    border-radius: 20px;
    border: double rgba(245, 222, 179, 0.384);
    transition: 2.8s ease-out;
    
}